/StudyMakefile/bin
/StudyMakefile/obj
/StudyMakefile/StudyMakefile.opensdf
/StudyMakefile/StudyMakefile.sdf
/StudyMakefile/StudyMakefile.sln.docstates.suo
/StudyMakefile/StudyMakefile.suo
/RapidXml/ipch
/RapidXml/bin
/RapidXml/obj
/StudyMakefile/ipch
